{% macro carrito_detalle(carrito) %}

<div class="modal-body">

    <table class="table">
        <thead>
            <th scope="col">Cod. Producto</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Sub total</th>
        </thead>
        <tbody>

            {% for producto in carrito %}
            <tr>
                <th scope="row">{{producto.id}}</th>
                <td>{{producto.nombre}}</td>
                <td>{{producto.cantidad}}</td>
                <td>{{producto.subtotal}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="d-flex">

            <p>Total:</p>
            <p>1542201</p>


        </tfoot>
    </table>

</div>


{% endmacro %}