{% extends 'layout.html' %}
{% from 'producto_macro.html' import producto_card %}
{% from 'carrito.html' import carrito_detalle %}

{% block container %}
<h3>Bienvenido, seleccione los productos que desea agregar a su carrito</h3>

<div class="row my-5">
    {% for producto in productos %}
    {{ producto_card(producto) }}
    {% endfor %}
</div>

<div class="modal fade" id="carritoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Carrito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            {{ carrito_detalle(carrito) }}

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}